casacriativa.eu:80, www.casacriativa.eu:80 {
  redir https://www.facebook.com/wearelivinginportugal{uri} 301
}

livinginportugal.eu:80, www.livinginportugal.eu:80 {
  redir https://www.facebook.com/wearelivinginportugal{uri} 301
}

portugalfarmlife.com:80, www.portugalfarmlife.com:80 {
  redir https://www.facebook.com/wearelivinginportugal{uri} 301
}

niluka.nl:80, www.niluka.nl:80 {
  redir https://www.facebook.com/niluka.koetje{uri} 301
}

# catch-all for anything else routed here
:80 {
  redir https://www.gerarduskoetje.pt{uri} 301
}
